html, body {
  width: 100%;        
  height: 100%;      
  min-height: 100vh;
  margin: 0;          
  padding: 0;         
}

.wrap {
  width: 100%;        
  min-height: 100vh;
  margin: 0;          
  padding: 0;         
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('https://static.vecteezy.com/system/resources/previews/011/846/759/non_2x/vivid-liquify-texture-colorful-wallpaper-abstract-background-free-photo.jpeg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  background-attachment: fixed 
}

.bar_menu {
  width:100%;
  height: 70px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(84, 35, 52, 0.23); 
  backdrop-filter: blur(20px);          
  
  border: 1px solid rgba(84, 35, 52, 0.29);
  border-style: blur(7px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);
}

.inftheory {
  width: 600px;
  height: 200px;
  margin-top: 30px;
  font: 400 33px 'Inter', sans-serif; 
  color: whitesmoke;
  border-radius: 60px;

  background: rgba(255, 255, 255, 0.07); 
  backdrop-filter: blur(20px);          
  
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-style: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center;  
}

.name {
  width: 800px;
  height: 80px;
  margin-top: 50px;
  font: 400 14px 'Inter', sans-serif; 
  color: whitesmoke;
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;

  background: rgba(255, 255, 255, 0.07); 
  backdrop-filter: blur(20px);          
  
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-style: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center;  
}

.mini-wrap-left {
	width: 100%;
	height: 700px;
	display: flex;
  justify-content: flex-start; 
  align-items: center;    
}

.block_photo {
  height: 400px;
  width: 400px;
  background-image: url('my_photo.jpg');
  opacity:90%;
  background-size: contain;       
  background-position: center;  
  background-repeat: no-repeat;
}

.wrap-img-name {
  width: 800px;
  height:550px;                 
  margin-left: 0;            
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
}

.project_pipeline {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: flex-end; 
  position: relative;
  z-index: 1;
  top: -500px;
  left: -100px;  
}

.project_wrap {
  width: 600px;
  height: 100px;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.project {
  width:200px;
  height: 100px;
  font: 300 20px 'Inter', sans-serif; 
  color: whitesmoke;
  border-radius: 30px;

  background: rgba(62, 11, 189, 0.33);
  backdrop-filter: blur(30px);          
  
  border: 1px solid rgba(62, 11, 189, 0.45);
  border-style: blur(8px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center; 
  align-items: center;    
  text-align: center; 
}

.desc {
  height: 80px;
  width: 300px;
  background: rgba(255, 255, 255, 0.56);
  font: 400 14px 'Inter', sans-serif; 
  color: rgb(170,170,170);
  margin-left: 30px;
  margin-right: 0px;
  padding-left: 10px;
  padding-top: 20px;
  text-align: left;
  border-radius: 30px;
  border-top: 3px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.2); 
}

.carousel-container{
  overflow: hidden;        
  user-select: none;     
  cursor: grab;
}

.carousel-container:active {
  cursor: grabbing;
}

.carousel-track {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  will-change: transform; 
  transition: transform 0.3s ease-out;
}

.card {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
  
 
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(2px);      
}

.card.active {
  transform: scale(1.15); 
  opacity: 1;
  filter: blur(0);
  z-index: 2;             
}

a {
  font: 22px 'Inter', sans-serif, bold; 
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightpink;
}

a.a_block {
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  touch-action: pan-y; 
}

.project:hover {
  background: rgba(74, 23, 200, 0.4);
  backdrop-filter: blur(35px);  
}
